<div class="page-wrap">
    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li><a [routerLink]="['/index']" (click)="activeLink(1)" [ngClass]="{'active' : tab === 1}"><span class="icon fa-home"></span></a></li>
            <li><a [routerLink]="['/gallery']" (click)="activeLink(2)" [ngClass]="{'active' : tab === 2}"><span class="icon fa-camera-retro"></span></a></li>
            <li><a [routerLink]="['/generic']" (click)="activeLink(3)" [ngClass]="{'active' : tab === 3}"><span class="icon fa-file-text-o"></span></a></li>
        </ul>
    </nav>
    <!-- Main -->
    <section id="main">
        <router-outlet></router-outlet>
    </section>
</div>